extends layout
append head
    link(rel="stylesheet", href="/stylesheets/tasks.css")
    link(rel="stylesheet", href="/stylesheets/groupInfo.css")
    script(src="/javascripts/index.js" type="module")
block tasksList
    //- if ownerGroups
    //-     ul.taskList
    //-         each ownerGroup in ownerGroups
    //-                 //- display task name
    //-                 li= ownerGroup.dataValues.name
    //- br
    //- form(action=`/users/${user.id}/${group.id}/add-Task` method='post')
        form(action='/users/:id/:id/add' method='post')
    if isDashboard
        input(type='search' name='search' placeholder='Search your tasks' id='search')



    form(action='' method='post')
        input(type='hidden' name='_csrf' value=csrfToken)
        label(for='name')
        input(type='input' name='name' placeholder="Add a task..." required)#addTaskBox
        //- select(name="group_name")
        //-     if ownerGroups
        //-         each ownerGroup in ownerGroups
        //-             option(value=ownerGroup.dataValues.id)=ownerGroup.dataValues.name
        //-     if groups
        //-         each group in groups.dataValues.userToMember
        //-             option(value=groups.dataValues.id)=groups.dataValues.name

        select(type=`${groupId === dashboard ? 'hidden': "select"}` name='assignTo' value= userId)
            //- each member in members
            //-     option(value= user.id)= user.username
            each member in members.dataValues.groupToMember
                option(value= member.id)= member.username
        br
        label(for='due_date')
        input(type='date' name='due_date' placeholder="2021-12-31" min="2021-10-20" max="2022-12-31" required pattern="\d{4}-\d{2}-\d{2}")
        button(class='addTaskButton' type='submit' ) Add Task
    br
    h1= `${groupName} Incomplete Tasks List`
    button#completeTaskListButton Show Complete Tasks
    br
    if tasks
        ul.taskList
            each task in tasks
                if task.completed === false
                    //- display task name
                    //- li= task.dataValues.name
                    li
                        form(action=`/users/${userId}/${groupId}/${task.id}/completed` method='post')
                            input(type='hidden' name='_csrf' value=csrfToken)
                            input(type='checkbox' class="singletask" name= task.dataValues.name onChange="this.form.submit()")
                        a(href=`/users/${user.id}/${groupId}/${task.dataValues.id}` class="tasklink")=task.dataValues.name

    //- div.taskList
    //-     if tasks
    //-         each task in tasks
    //-             if task.completed === false
    //-                 div.currentTask
    //-                     input(type='checkbox' class="singletask" name= task.dataValues.name)
    //-                     label(for='task.dataValues.name')= task.dataValues.name
    //-                     br
block group
    div
        div.groupTopBar
            h1.groupTitle= members.name
            div
                if !isDashboard && isOwner
                    form(action=`/users/${userId}/${groupId}/deleteGroup` method='post')
                        button.deleteGroupBut(type='submit') Delete Group
        br
        div
            p.groupOwner Group Owner: #{ownerName.username}
        if !isDashboard && isOwner
            form.groupForm(action=`/users/${userId}/${groupId}/addMember` method='post')
                input(type='hidden' name='_csrf' value=csrfToken)
                label(for='addMember')
                select(type='select' name='addMember' placeholder='Add Member')
                    option(value='') --Select a Member--
                    each user in users
                        option(value= user.id)= user.username
                button(type='submit') Add Member
        if members && !isDashboard && isOwner
            form.groupForm(action=`/users/${userId}/${groupId}/removeMember` method='post')
                input(type='hidden' name='_csrf' value=csrfToken)
                label(for='removeMember')
                select(type='select' name='removeMember' placeholder='Remove Member')
                    option(value='') --Select a Member--
                    each member in members.dataValues.groupToMember
                        option(value= member.id)= member.username
                button(type='submit') Remove Member
        div
        if members && !isDashboard
            br
            p.groupListTitle Group Members
            ul.groupList
            each member in members.dataValues.groupToMember
                li.groupMembers= member.dataValues.username
