extends layout
append head
    link(rel="stylesheet", href="/stylesheets/tasks.css")
    script(src="/javascripts/index.js" type="module")
block tasksList
    br
    br
    br
    h1= "Tasks List"
    br
    br
    if tasks
        ul.taskList
        each task in tasks
            //- display task name
            li= task.dataValues.name
block group
    p Group Owner: #{ownerName.username}
    br
    form(action=`/users/${id}/${groupId}/add-member` method='post')
        input(type='hidden' name='_csrf' value=csrfToken)
        input.member(type='number' name='user_id' placeholder='Member Id' required)
        button(type='submit' ) Add
    if members
        br
        p Group Members
        ul.groupList
        each member in members.dataValues.groupToMember
            li= member.dataValues.username
