
include utils.pug
head
  title="Sign up"
  link(rel="stylesheet" href="/stylesheets/signup.css")
  link(rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons")

  //- add page specific js
  //- script(src="/javascripts/index.js" type="module" defer)
body
  .signupBox#login
    .signupHeader
      a(class="material-icons" href="/")= "arrow_back"
      h2.logo //TODO:
      div
    p.alert= `${notFound}`
    .signupForm
      h2 Login to your account
      form(action='/users/login' method='post')
        input(type='hidden' name='_csrf' value=csrfToken)
        p= `${emailError ? emailError.msg : ""}`
        input(type='email' name='email' placeholder="Email" value=`${data ? data.email : ""}`)
        p= `${passwordError ? passwordError.msg : ""}`
        input(type='password' name='password' placeholder="Password")
        button(type='submit' ) Login
