
include utils.pug

head
  title="Sign up"
  link(rel="stylesheet" href="/stylesheets/signup.css")
  //- add page specific js
  //- script(src="/javascripts/index.js" type="module" defer)
body
  //- +validationErrorSummary(errors)
  .signupBox
    h2 //TODO:
    .signupForm
      h2 Create your account
      form(action='/users/signup' method='post')
        input(type='hidden' name='_csrf' value=csrfToken)
        p= `${usernameError ? usernameError.msg : ""}`
        input(type='text' name='username' placeholder="Username" value=`${data.username}` )
        p= `${emailError ? emailError.msg : ""}`
        input(type='email' name='email' placeholder="Email" value=`${data.email}` )
        p= `${passwordError ? passwordError.msg : ""}`
        input(type='password' name='password' placeholder="Password" )
        p= `${comfirmPasswordError ? comfirmPasswordError.msg : ""}`
        input(type='password' name='confirmPassword' placeholder="Confirm Password" )
        button(type='submit' ) Signup
