//- appears on refresh
extends groupInfo
append head
    link(rel="stylesheet", href="/stylesheets/tasks.css")
    link(rel="stylesheet", href="/stylesheets/groupInfo.css")
    script(src="/javascripts/index.js" type="module")

block group
    block group
        div.taskDetailsTopBar
            h1.taskNameHeader #{taskName}
            div
                if taskOwnerId === userId
                    form(action=`/users/${userId}/${groupId}/${taskId}/delete` method='post')
                        button.deleteTaskButtn(type='submit') Delete Task
        div.assignedToAndBackBar
            p.assignedto Assigned To: #{taskOwnerName}
            a(class='groupDetailsButton' id="groupDetailsBttn" href=`/users/${userId}/${groupId}`) Group Details
        if taskOwnerId === userId && taskCompleteStatus === false
            div.taskDetailsButtons
            div.taskHeader
                form.editingATask(action=`/users/${userId}/${groupId}/${taskId}` method='post')
                    input(type='hidden' name='_csrf' value=csrfToken)
                    .container
                        //- label(for='name')
                        input(type='input' name='name' value=`${taskName}` required)#editTaskNameBox
                        input(type='date' name='due_date' value=`${taskDueDate}` min="2021-10-20" max="2022-12-31" required)#editTaskDueDateBox
                        select(type=`${groupId === dashboard ? 'hidden': "select"}` name='assignTo' value= userId)
                            option(value= user.id)= user.username
                            each member in members.dataValues.groupToMember
                                option(value= member.id)= member.username
                        button(class='editTaskButton' type='submit' ) Edit Task
            div.subTaskDetailsButtonContent
                form.addingASubTask(action=`/users/${userId}/${groupId}/${taskId}/addSubTask` method='post')
                    input(type='hidden' name='_csrf' value=csrfToken)
                    input(type='input' name='name' placeholder="Add a subtask..." required)#addTaskBox
                    button(class='addSubTaskButton' type='submit' ) Add Sub-task
        if taskOwnerId !== userId
            div.dueDateForNonOwners Due Date: #{taskDueDate}
        if taskCompleteStatus === true && taskOwnerId === userId
            div.dueDateForNonOwners Due Date: #{taskDueDate}
            div.completedStatus Task Completed
        if Subtasks.length && taskCompleteStatus === false && taskOwnerId === userId
            div.subTasksHeader Subtasks
            div.listOfSubTasks
                ul.subtaskList
                each sub in Subtasks
                    form.eachNewTask(action=`/users/${userId}/${groupId}/${taskId}/${sub.dataValues.id}/delete` method='post')
                        li.subTaskName= sub.dataValues.name
                        input(type='hidden' name='_csrf' value=csrfToken)
                        if taskOwnerId === userId
                            button.deleteSubTaskButtn(type='submit') Delete Subtask
