extends layout
append head
    link(rel="stylesheet", href="/stylesheets/tasks.css")
    script(src="/javascripts/index.js" type="module")
block tasksList

    form(action=`/users/${userId}/${groupId}` method='post')
        input(type='hidden' name='_csrf' value=csrfToken)
        label(for='name')
        input(type='input' name='name' placeholder="Add a task..." required)#addTaskBox
        select(type=`${groupId === dashboard ? 'hidden': "select"}` name='assignTo' value= userId)
            option(value= user.id)= user.username
            each member in members.dataValues.groupToMember
                option(value= member.id)= member.username
        label(for='due_date')
        input(type='date' name='due_date' placeholder="2021-12-31" min="2021-10-20" max="2022-12-31" required pattern="\d{4}-\d{2}-\d{2}")
        button(class='addTaskButton' type='submit' ) Add Task
    h1= `${groupName} Incomplete Tasks List`
    button#completeTaskListButton Show Complete Tasks
    if tasks
        ul.taskList
            each task in tasks
                if task.completed === false
                    //- display task name
                    //- li= task.dataValues.name
                    li
                        form(action=`/users/${userId}/${groupId}/${task.id}/completed` method='post')
                            input(type='hidden' name='_csrf' value=csrfToken)
                            input(type='checkbox' class="singletask" name= task.dataValues.name onChange="this.form.submit()")
                        a(href=`/users/${user.id}/${groupId}/${task.dataValues.id}` class="tasklink")=task.dataValues.name
    //- div.taskList
    //-     if tasks
    //-         each task in tasks
    //-             if task.completed === false
    //-                 div.currentTask
    //-                     input(type='checkbox' class="singletask" name= task.dataValues.name)
    //-                     label(for='task.dataValues.name')= task.dataValues.name
                        //- br
block group
    p Edit Task
    button(class='groupDetailsButton' id="groupDetailsBttn" type='submit' ) Group Details
    if tasks
        each task in tasks
            if task.owner_Id === user.id
                form(action=`/users/${userId}/${groupId}/${taskId}/delete` method='post')
                    button.deleteTaskButtn(type='submit') Delete Task

    form(action=`/users/${userId}/${groupId}/${taskId}` method='post')
        input(type='hidden' name='_csrf' value=csrfToken)
        label(for='name')
        input(type='input' name='name' value=`${taskName}` required)
        select(type=`${groupId === dashboard ? 'hidden': "select"}` name='assignTo' value= userId)
            option(value= user.id)= user.username
            each member in members.dataValues.groupToMember
                option(value= member.id)= member.username
        input(type='date' name='due_date' value=`${taskDueDate}` min="2021-10-20" max="2022-12-31" required)
        button(class='editTaskButton' type='submit' ) Edit Task

    form(action=`/users/${userId}/${groupId}/${taskId}/addSubTask` method='post')
        input(type='hidden' name='_csrf' value=csrfToken)
        label(for='name')
        input(type='input' name='name' placeholder="Add a subtask..." required)#addTaskBox
        br
        button(class='addTaskButton' type='submit' ) Add Sub-task

    if Subtask
        p Sub-tasks List
        ul.subtaskList
            each sub in Subtask
                    li= sub.dataValues.name
                        form(action=`/users/${userId}/${groupId}/${taskId}/${sub.dataValues.id}/delete` method='post')
                            input(type='hidden' name='_csrf' value=csrfToken)
                            button.deleteTaskButtn(type='submit') Delete Subtask

    //- form(action=`/users/${id}/${groupId}/add-member` method='post')
    //-     input(type='hidden' name='_csrf' value=csrfToken)
    //-     input.member(type='number' name='user_id' placeholder='Member Id' required)
    //-     button(type='submit' ) Add
