if tasks
    ul.taskList
        each task in tasks
            li
                form(action=`/users/${userId}/${groupId}/${task.id}/completed` method='post')
                    input(type='hidden' name='_csrf' value=csrfToken)
                    input(type='checkbox' checked=task.completed class="singletask" name= task.dataValues.name onChange="this.form.submit()")
                a(href=`/users/${userId}/${groupId}/${task.dataValues.id}` class="tasklink")=task.dataValues.name

        each el in Array((27 - tasks.length) > 0 ? (27 - tasks.length) : 0)
            li
