if tasks
    ul.taskList
        each task in tasks
            li
                if task.dataValues.owner_id === userId
                    form(action=`/users/${userId}/${groupId}/${task.id}/completed` method='post')
                        input(type='hidden' name='_csrf' value=csrfToken)
                        input(type='checkbox' checked=task.completed class="singletask" name= task.dataValues.name onChange="this.form.submit()")
                if task.dataValues.owner_id !== userId
                    form(action=`/users/${userId}/${groupId}/${task.id}/completed` method='post')
                        input(type='hidden' name='_csrf' value=csrfToken)
                        input(type='checkbox' checked=task.completed class="singletask" name= task.dataValues.name onChange="this.form.submit()" disabled)
                a(href=`/users/${user.id}/${groupId}/${task.dataValues.id}` class="tasklink")=task.dataValues.name
                if task.dataValues.owner_id === userId
                    form(action=`/users/${userId}/${groupId}/${task.dataValues.id}/delete` method='post')
                        button.hoverDeleteTaskButton(type='submit') Delete
        each el in Array((27 - tasks.length) > 0 ? (27 - tasks.length) : 0)
            li
