mixin validationErrorSummary(errors)
  if errors
    div(role='alert')
      p The following error(s) occurred:
      ul
        each error in errors
          li= error
mixin groupList(groups)
  if groups
    each group in groups.dataValues.userToMember
      div
        a(href=`/users/${groups.dataValues.id}/${group.dataValues.id}`)= group.dataValues.name
  if ownerGroups
      each ownerGroup in ownerGroups
        div
          a(href=`/users/${ownerGroup.dataValues.owner_id}/${ownerGroup.dataValues.id}`)= ownerGroup.dataValues.name
  br
  br
  form(action='/users/:id/:groupId/create-group' method='post')
    input(type='hidden' name='_csrf' value=csrfToken)
    label(for='name') Group Name
    input(type='input' name='name' required)
    button(type='submit' ) Create Group

mixin taskList(tasks, subtasks)
  if tasks
    ul.taskList
      each task in tasks
        li= task
          if (subtasks)
            ul.subTasksList
              each subTask in subTasks
                li= subTask
mixin field(labelText, fieldName, fieldValue, fieldType = 'text')
    label(for=fieldName)= labelText
    input(type=fieldType id=fieldName name=fieldName value=fieldValue)
