mixin validationErrorSummary(errors)
  if errors
    div(role='alert')
      p The following error(s) occurred:
      ul
        each error in errors
          li= error
mixin groupList(groups)
  if groups
    each group in groups.dataValues.userToMember
      div
        a(onclick=`groupView(${group.dataValues.id}, "${group.dataValues.name}")`)= group.dataValues.name
  if ownerGroups
      each ownerGroup in ownerGroups
        div
          a(onclick=`groupView(${ownerGroup.dataValues.id}, "${ownerGroup.dataValues.name}")`)= ownerGroup.dataValues.name

mixin taskList(tasks, subtasks)
  if tasks
    ul.taskList
      each task in tasks
        li= task
          if (subtasks)
            ul.subTasksList
              each subTask in subTasks
                li= subTask
mixin field(labelText, fieldName, fieldValue, fieldType = 'text')
    label(for=fieldName)= labelText
    input(type=fieldType id=fieldName name=fieldName value=fieldValue)
